.custom-gradient {
    background: rgb(70,112,97);
    background: linear-gradient(130deg, rgba(70,112,97,1) 0%, rgba(0,62,41,1) 69%);
}

.fa-money-bill-trend-up {
    background:  #ffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opcoes-cima {
    position: absolute; 
    inset: auto auto 0px 0px; margin: 0px; 
    transform: translate(0px, -25px);
}

.botao-menu {
    display: none;
}

@media (max-width: 768px) {
    .menu-lateral {
        position: absolute;
        left: -1000px;
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .botao-menu {
        display: block;
    }
  }

  .menu-lateral.menu-visivel {
    position: static;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.cardinho {
    max-height: 200px;
    overflow-y: scroll;
  }
